@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Allura&family=Asul:wght@400;700&family=Neonderthaw&family=Pacifico&family=Petrona:ital,wght@0,100..900;1,100..900&family=Tilt+Neon&display=swap');


.location-header {
    color: #D65DB1;
}

/*------------------------------------ Header */
body {
    text-align: none;
}

.header-banner {
    padding: 15px;
    background-color: #1f2122;
}

.logo-main a {
    font-family: "Neonderthaw", sans-serif;
    text-decoration: underline;
    text-decoration-color: #8bf2fc;
    color: #D65DB1;
    
    
}

.logo-main h2 {
    font-size: 300%;
    border: 2px solid #F9F871;
    border-radius: 15px;
    max-width: 550px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    
    
}

.logo-main:hover {
    text-decoration: none;
}

.nav-link {
    font-size: 150%;
}

.navbar {
    padding: 0;
    
}

.nav-link a {
    color: #D65DB1;
    padding: 5px;
    font-family: "Tilt Neon", sans-serif;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-link a:hover {
    color: #8bf2fc;
    text-decoration: none;
    border-bottom: 1px dashed #F9F871;
}

.active {
    border-bottom: 1px solid #F9F871;
}


.fa-bars {
    color: #D65DB1;
    padding-top: 4px;
}

.navbar-toggler {
    border: 2px solid #D65DB1;
    height: 50px;
    margin-right: 20px;
}

.text-right {
    padding-right: 20px;
}



    

/*------------------------------------ Hero image */

.img-fluid {
    max-height: 700px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hero-image {
    background-color: #1a1a1a;
}

/*------------------------------------ Info section */

.info-section {
    background-color: #1f2122;
}

.about-us, .what-we-do {
    color: #fafafa;
    text-align: center;
    padding: 50px 100px;
    font-size: 110%;
}

.about-us h2, .what-we-do h2 {
    color: #D65DB1;
    font-family: "Tilt Neon", sans-serif;
}



.fa-ghost {
    color:#F9F871;
    font-size: 80%;
    padding-right: 5px;
    
}

.fa-rocket {
    color:#F9F871;
    font-size: 80%;
    padding-right: 5px;
}

/*------------------------------------ Footer */

.copyright p {
    font-size: 70%;
}

.timetable, .socials, .copyright {
    text-align: center;
    color: #F9F871;
}

.timetable p, .copyright p {
    color:#D65DB1;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #8bf2fc;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:#fafafa;
    background: #D65DB1;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8bf2fc;
}

#footer-details {
    background-color: #1c1c1c;
    padding: 27px;
    
}

/*------------------------------------ Locations */

h2 {
    font-size: 3rem;
}

.location-header {
    color: #D65DB1;
    font-family: "Aldrich", sans-serif;
    background-color: #1a1a1a;
    padding-top: 80px;
    padding-bottom: 50px;
    
}

.location-section .img-fluid {
    width: 90%;
    transition: transform .2s;
}



.location-section .img-fluid:hover {
    transform: scale(1.25);
    overflow: hidden;
}

.location-section {
    background-color: #1a1a1a;
    color: #fafafa;
}

.location-section h4 {
    color:#F9F871;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Tilt Neon", sans-serif;
}

.location-section p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Petrona", sans-serif;
}

.btn-outline-warning {
    color:#8bf2fc;
    border-color:#8bf2fc;
    padding-bottom: 10px;
}

.btn-outline-warning:hover {
    background-color: #8bf2fc;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;

}

/*------------------------------------ classes */

.classes-header {
    color: #D65DB1;
    font-family: "Aldrich", sans-serif;
    background-color: #1a1a1a;
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.classes {
    text-align: center;
    color: #D65DB1;
    padding-bottom: 50px;
    background-color: #1a1a1a;
}

.classes h4 {
    padding-top: 50px;
    color: #F9F871;
    
}

.classes h4 i {
    padding-right: 5px;
}

.classes ul {
    list-style-position: inside;
    padding-right: 30px;
    padding-top: 20px;
    color: #fafafa;
    list-style: none;
}

.classes ul i {
    padding-right: 10px;
    color: #00fc82;
}



.classes img {
    max-height: 300px;
    
}

.classes btn-outline-warning {
    border-bottom: 20px;
}

/*------------------------------------ Form-section */

.contact-form-edit {
    padding: 10px 5%;
    background-color: #1a1a1a;
    color: #F9F871;
    
}

.btn-primary {
    color:#8bf2fc;
    border-color:#8bf2fc;
    padding-bottom: 10px;
    background-color:#1a1a1a;
}

.btn-primary:hover {
    background-color: #8bf2fc;
}

#email-disc{ 
    color: #8bf2fc;
}

/*------------------------------------ Contact-section */

.contact-whole {
    background-color:#1a1a1a;
}


.contact-details {
    text-align: center;
    color: #F9F871;
    
    
}

.contact-details h4 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact-details i {
    padding-right: 7px;
    color:#D65DB1;
}

iframe {
    display: block;
    margin: 0 auto;
    height: 30%;
    width: 40%;
    padding-bottom: 10px;
}

/*------------------------------------ Media */

@media (min-width: 768px) {
    .location-section {
        min-height: 650px;
    }
 }

 @media (max-width: 576px) {
    .about-us {
        padding: 30px;
    }

    .what-we-do {
        padding: 30px;
    }

    .logo-main {
        width:50%
    }

    .logo-main h2 {
        font-size: 30px;
    }
 }
